.label {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    text-align: center;
    color: #463E3E;
    justify-content: space-between;
    margin-bottom: 10px;

}

.input {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #463E3E;
    border-radius: 20px;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    color: #463E3E;
}

.input:focus {
    outline: none;
    border-color: #463E3E;
}



.input::placeholder {
    color: #463E3E;
}

