.login-container1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 22px 19px 21px 32px;
  background: rgba(89, 165, 44, 1);
  border-radius: 20px;
}
.login-form {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.username-container {
  flex: 1 0 auto;
  padding-top: 3px;
  padding-bottom: 12.5px;
  margin-right: 35px;
}
.login-heading {
  font: 500 40px League Spartan;
  color: rgba(70, 62, 62, 1);
  text-align: center;
}
.login-input {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 204px;
  height: 44px;
  background: rgba(200, 200, 200, 1);
  border-radius: 20px;
}
.login-container3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 19px;
}
.password-container {
  flex: 1 0 auto;
  padding-top: 3px;
  padding-bottom: 12.5px;
}
